
<table class="table table-bordered">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Địa chỉ</th>
            <th scope="col">Tên người nhận</th>
            <th scope="col">SĐT người nhận</th>
            <th scope="col">Tổng tiền</th>
            <th scope="col">Trạng thái</th>

            <th scope="col" class="text-end">Action</th>
        </tr>
    </thead>
    <tbody>

        {{#each history}}
        <tr>
            <th scope="row">{{this.dia_chi}}</th>
            <td>{{this.ten_nguoi_nhan}}</td>
            <td>{{this.sdt}}</td>
            <td>{{this.tongtien}}</td>
            <td>{{this.trang_thai}}</td>
            <td class="text-end">
                <a href="/shipper/finish-deliver?id={{this.ma_don_hang}}&shipperId=110" type="button" class="btn btn-light btn-small"><i class="bi bi-eye"></i>
                    Chuyển tiếp trạng thái</a>
            </td>
        </tr>
        {{/each}}

    </tbody>

</table>
   <nav aria-label="Page navigation example">
        {{{paginateHelper pagination paginationClass="pagination"}}}
    </nav>