<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Detail User</li>
    </ol>
</nav>
<table class="table table-bordered">
    <thead class="thead-dark">
        <tr>
            <th scope="col">ProductId</th>
            <th scope="col">ProductName</th>
            <th scope="col">Image</th>
            <th scope="col">Quantity</th>
            <th scope="col">SubTotal</th>
        </tr>
    </thead>
    <tbody>

        {{#each detail}}
        <tr>
            <th scope="row">{{this.productId}}</th>
            <td>{{this.productName}}</td>
            <td><img style="height: 100px; width:100px;border-radius : 50%" src="{{this.productImage}}" alt=""></td>
            <td>{{this.quantity}}</td>
            <td>{{this.subTotal}}</td>

        </tr>
        {{/each}}

    </tbody>
</table>
<div class="col-12 d-grid">
    <a href="/order"><button class="btn btn-primary" type="submit">Back</button></a>
</div>