<head>
    <link rel="stylesheet" href="../css/checkout.css" type="text/css">
    <script src="../js/jquery-3.3.1.min.js"></script>
    <script src="../js/checkout.js"></script>
</head>
<body>



    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section set-bg" data-setbg="img/breadcrumb.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <h2>Thanh toán</h2>
                        <div class="breadcrumb__option">
                            <a href="/">Home</a>
                            <span>Thanh toán</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Checkout Section Begin -->
    <section class="checkout spad">
        <div class="container">

            <div class="checkout__form">
                <h4>Thông tin đặt hàng</h4>

                <form action="/checkout" method="post">
                    <input type="text" class="d-none" value="{{cart.maNguoiDung}}" name="maNguoiDung">
                    <div class="row">
                        <div class="col-lg-8 col-md-6">
                            <div class="row">
                                <div class="col">
                                    <div class="checkout__input">
                                        <p>Họ và tên<span>*</span></p>
                                        <input type="text" value="{{cart.tenNguoiNhan}}" name="tenNguoiNhan">
                                    </div>
                                </div>
                            </div>

                            <div class="checkout__input">
                                <p>Địa chỉ<span>*</span></p>
                                <input type="text" value="{{cart.diaChi}}" class="checkout__input__add" name="diaChi">
                            </div>

                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="checkout__input">
                                        <p>SĐT<span>*</span></p>
                                        <input type="text" value="{{cart.sdt}}" name="sdt">
                                    </div>
                                </div>

                            </div>


                            <div class="checkout__input">
                                <p>Ghi chú thêm<span>*</span></p>
                                <input type="text" placeholder="Không ship vào 12h trưa" name="phanHoi">
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="checkout__order">
                                <h4>Hoá đơn</h4>
                                <div class="checkout__order__products">Sản phẩm <span>Giá</span></div>
                                <ul>
                                    {{#each items}}
                                    <input type="text" class="d-none" name="maSp" value="{{maSp}}">
                                    <input type="text" class="d-none" name="soLuong" value="{{soLuong}}">
                                    <input type="text" class="d-none" name="donGia" value="{{donGia}}">
                                    <li>{{tenSp}} <span>{{#formatMoney subtotal}}{{/formatMoney}}</span></li>
                                    {{/each}}
                                </ul>
                                <div class="checkout__order__total">Tổng tiền <span>{{#formatMoney
                                        tong}}{{/formatMoney}}</span></div>

                                <p>Vì lý do dịch bệnh, vui lòng chọn một trong các phương thức thanh toán online sau</p>
                                <div class="checkout__input__checkbox">
                                    <label for="momoQR">
                                        Momo
                                        <input type="radio" id="momoQR" name="payment" value="momo" required>
                                        <span class="checkmark"></span>
                                    </label>
                                    <img id="momoQRCode" src="https://www.saigonchildren.com/wp-content/uploads/2020/04/MM_QR_CODE_MOMOTUUM20191113-saigonchildren.png">
                                </div>
                                
                                <div class="checkout__input__checkbox">
                                    <label for="tructiep">
                                        Trực tiếp
                                        <input type="radio" id="tructiep" name="payment" value="tructiep">
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                                <button type="submit" class="site-btn">Đặt hàng</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <!-- Checkout Section End -->




</body>