<div class="row">
    <div class="col-6">
        <h1>Order</h1>
    </div>

</div>

<table class="table table-bordered">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Tên chủ shop</th>
            <th scope="col">SĐT</th>
            <th scope="col">Email</th>
            <th scope="col">Ngày đăng ký</th>
           

            <th scope="col" class="text-end">Action</th>
        </tr>
    </thead>
    <tbody>

        {{#each danhsach}}
        <tr>
            <th scope="row">{{this.tenNguoiDung}}</th>
            <td>{{this.sdt}}</td>
            <td>{{this.email}}</td>
            <td>{{this.ngayDangKy}}</td>
          
            <td class="text-end">
                <a href="/admin/view-contract-detail?id={{maHopDong}}" type="button" class="btn btn-light btn-small"><i class="bi bi-eye"></i>
                    View Detail</a>
            </td>
        </tr>
        {{/each}}

    </tbody>

</table>
   <nav aria-label="Page navigation example">
        {{{paginateHelper pagination paginationClass="pagination"}}}
    </nav>