<div class="container-fluid mt-3">
    <h1 class="mt-4">Thêm Nhu Yếu Phẩm</h1>
    <div class="card mb-4">
        <div class="card-body">
            <form method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="title">Tên sản phẩm</label>
                    <input type="text" class="form-control" id="title" name="ten_sp" value="{{product.ten_sp}}">
                </div>
                <div class="form-group" style="display: none;">
                    <input type="text" class="form-control"  name="ma_cua_hang" value="{{macuahang}}">
                </div>
                 <div class="form-group">
                    <label for="danhmuc">Danh mục</label>
                     <select id="danhmuc" name="danhmuc" class="form-select form-select-md border border-secondary ">
                         <option value="">Tên danh mục</option>
                    {{#each danhmuc}}
                       <option value="{{this.ma_dm}}">{{this.ten_dm}}</option>
                    {{/each}}
                </select>
                </div>
               
                <div class="form-group">
                    <label for="basePrice">Giá</label>
                    <input type="number" class="form-control" id="basePrice" name="gia_sp" value="product.gia_sp">
                </div>
                <div class="form-group">
                    <label for="description">Số lượng còn lại</label>
                    <input type="number" class="form-control" id="basePrice" name="so_luong_con_lai" value="{{product.so_luong_con_lai}}">
                </div>
                 <div class="form-group">
                    <label for="description">Mô tả</label>
                    <textarea class="form-control" id="description" rows="3" name="mo_ta">{{product.mo_ta}}</textarea>
                </div>
                <label for="description">Hình ảnh</label>
                <div class="form-group card-group row row-cols-1 row-cols-md-3 d-flex align-items-stretch">
                    {{#each images}}
                    <div class="col-md-2 mb-4">
                        <div class="card mr-2 border-0">
                            <img src="/{{this.nguon_hinh_anh}}" class="mr-5 rounded border border-primary" width="100%" height="200px">
                            
                        </div>
                    </div>

                    {{/each}}
                </div>
                <label for="description">Thêm Hình ảnh</label>
                <div class="col mb-4">
                    <div class="card mr-2 border-0" width="80%" height="300px">
                        <div class=" form-floating ">
                            <input data-preview-file-type=" text" class='file' type="file" type="text"
                                class="form-control" id='image' name="ImagePath" multiple>
                        </div>
                    </div>
                </div>
                <div class="d-flex ">
                    <button type="submit" class="btn btn-lg btn-primary align-self-center mr-5">Cập nhật</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script type="text/javascript">
    function goBack() {
        window.history.back();
    }
</script>