<div class="row" style="margin-bottom: 10px;">
<div class="col-12 d-grid">
    <a href="/shop"><button class="btn btn-primary" type="submit">Back</button></a>
</div>
</div>

<table class="table table-bordered">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Mã hợp đồng</th>
            <th scope="col">Ngày đăng ký</th>
            <th scope="col">Giấy phép kinh doanh</th>
            <th scope="col">Giấy chứng nhận an toàn thực phẩm</th>
            <th scope="col">Hợp đồng</th>
            <th scope="col">Ngày hiệu lực</th>
            <th scope="col">Ngày kết thúc</th>
        </tr>
    </thead>
    <tbody>
        
        <tr>
            <td><input name="maHopDong" type="text" style="display: none;" value="{{detail.maHopDong}}">{{detail.maHopDong}}</td>
            <td><input name="ngayDangKy" type="text" style="display: none;" value="{{detail.ngayDangKy}}">{{detail.ngayDangKy}}</td>
            <td><img src="/{{detail.giayPhepKinhDoanhImg}}" style="width: 100px;height: 100px;"></td>
            <td><img src="/{{detail.chungNhanAnToanImg}}" style="width: 100px;height: 100px;"></td>
            <td><input name="hopDongImg" type="text" style="display: none;" value="{{detail.hopDongImg}}"><img src="/{{detail.hopDongImg}}" style="width: 100px;height: 100px;"></td>
            <td>{{detail.ngayHieuLuc}}</td>
            <td>{{detail.ngayKetThuc}}></td>
            
        </tr>

    </tbody>
</table>
